
body{
    background: #eee;
    width: 100%;
    height: 100%;
    background: url('images/MQ.jpg') ;
    position: absolute;
}

.container{
    overflow: auto;
    position: absolute;
    width: 1300px; 
    height: 1000px;
    position: absolute;
    margin-left: 80px;
    margin-top: 150px;
    border-radius: 10px;
    background: #FFFFFF;

}

.table
{
  margin-left: 300px;
}
.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.btn{
         width: 140px;
         height: 40px;
         background: #34f315;
         font-size: 14px;
         margin-right: 10%;
         font-weight: bold;
         border-radius: 5px;
         border: none;
         color: #fff;
         position: absolute;
         right: 0px; 
      
     }


.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.l1{ 
    position: relative;
    font-size: 18px;
    margin-left: 400px; 
    margin-top: 200px;
    font-family: Arial;
    color: #000200;
    padding-left: 10px;
}

.l2{
    margin-top: 100px;
    position: relative;
    font-size: 18px;
    font-family: Arial;
    margin-left: 400px; 
    color: #000200;
    padding-left: 10px;
}

.l3{
    margin-top: 100px;
    position: relative;
    font-size: 18px;
    font-family: Arial;
    color: #000200;
    margin-left: 400px; 
    padding-left: 10px;
}


.btn1 {
    position: absolute;
    background: #34f315;
    width: 200px;
    height: 40px;
    margin-top: 30px;
    border: 0;
    margin-left: 70px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
}
.btn1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }
  .h7
{
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 500px;
    position: absolute;
    font-size: 70px;
    color: #FF0000;
}
/* Fixed sidenav, full height */
